<!DOCTYPE html>
<html>
<head>
    <title>제품 및 알람 입력</title>
</head>
<body>
    <h2>제품 및 알람 입력</h2>
    <form action="/submit" method="post">
        <label for="product">제품:</label><br>
        <input type="text" id="product" name="product"><br>
        <label for="alarm">알람 선택:</label><br>
        <select id="alarm" name="alarm">
            <option value="slack">slack</option>
            <option value="ntfy">ntfy</option>
            <option value="telegram">텔레그램</option>
        </select><br><br>
        <h4>선택한 채팅 앱의 계정 아이디를 입력해주세요.</h4>
        <label for="product">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>
